.contenedor {
  display: inline-block;
  vertical-align: top;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .lista-izquierda {
    display: none;
  }
  .card6{
    display: none;
  }


  .centered {
    width: 100%;
    max-width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  
}
.lista-izquierda {
  width: 18%;
  max-width: 100%;
  margin-top: 7%;
  border: 3px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  height: 36%;
  max-height: 100%;
  margin-left: 3vw;
  margin-right: 3vw;
  
}
#fecha{
  text-align: center;
  background-color:#C2EFD4;
}

.centered {
  width: 45%;
  max-width: 45%;
  margin-top: 7%;
  margin-left: 3vw;
  margin-right: 3vw;
  display: flex;
  flex-direction: column;
  //align-items: center;
  justify-content: center;
  height: auto;
}




.card {
  //text-align: center;
  padding: 1px;
  border: 2px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  width: 99.3%;
  max-width: 99.3%;
  height: 100%;
  max-height: 100%;
  margin-top: 10px;
}
.card h2{
  text-align: center;
  padding-left: 2%;
  padding-right: 2%; 
  font-size: 1.5rem;
  margin-top: 10px;
  color: #0e9b47;
}
.card p{
  color: #000000;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%; 
  font-size: 1rem;
  margin-top: 15px;
  margin-bottom: 1%;
  color: #000000;
}

.card img {
  width: 100%;
  height: auto;
}
.card:hover{
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;

}
.card1:hover{
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;

}
.card1 {
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  width: 100%;
  margin-top: 10px;
}


.card1 img {
  width: 100%; 
  height: 50%;
}

.card1 h2 {
  text-align: center;
  padding-left: 2%;
  padding-right: 2%; 
  font-size: 1.5rem;
  margin-top: 10px;
  color: #0e9b47;
}

.card1 p {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%; 
  padding-top: 3%;
  font-size: 1rem;
  margin-top: 15px;
  margin-bottom: 5%;
  color: #333;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.tendencia-card {
  background-color: transparent;
  border: none;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.tendencia-card h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 5px;
}

.card,
.card2 {
  text-align: left;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  width: 100%;
  margin-bottom: 20px;
}

.card img,
.card2 img {
  width: 100%;
  height: auto;
}

.card h2,
.card p,
.card2 h5 {
  margin-left: 1vw;
}

.card2 {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-top: 7%;
  margin-bottom: 15px;
  padding-top: 1%;
}

.card6 {
  /*
  vertical-align: top;
  padding: 10px;
  margin-top: 10px;*/
  text-align: left;
  width: 18%;
  max-width: 100%;
  margin-top: 7%;
  border: 3px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  height: 36%;
  max-height: 100%;
  margin-left: 3vw;
  margin-right: 3vw;
  
}

/*.card6 h5 {
  font-size: 0.1rem;
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 2px;
}
*/
.card6 img {
  width: 100%;
  height: 100%;
  max-height: auto;
  max-width: auto;
 
}