.contenedor{
  display: flex;
  position: relative;
}
.lista-izquierda {
  /* Ajustamos la posición superior a 0 para que se superponga en la parte superior */
  display: inline-block;
  vertical-align: top;
  width: 353px;
  margin-top: 100px;
  text-align: center;
  border: 3px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  max-width:353px; /* Ancho máximo de la tarjeta */
  width: 100%;
  height: 680px;
  margin-left: 4%;
  margin-right: 4%;
 
}
#fecha{
  background-color:#C2EFD4;

}
.centered {
    margin-left: 1vh;
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    align-items: center;
    justify-content: center;
    height: 358vh;
  }
  .card1 {
    text-align: center;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    max-width: 407px; /* Ancho máximo de la tarjeta */
    width: 100%;
    margin-top: 10px;
  }
  .card1 img {
    width: 407px; /* Ancho de la imagen */
    height: 184px; /* Altura de la imagen */
  }
  .card1 h2 {
    font-size: 1.5rem;
    margin-top: 10px;
  }
  
  .card1 p {
    font-size: 1rem;
    margin-top: 15px;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas por fila */
    gap: 30px; /* Espacio entre tarjetas */
  }

  .tendencia-card {
    background-color: transparent;
    border: none;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  
  .tendencia-card h3 {
    font-size: 1.5rem;
    color: #333; /* Color del texto de tendencia */
    margin-bottom: 5px; /* Espacio entre tendencia y la siguiente tarjeta */
 
    margin-left: -46vh;
  }
  
  .card {
    text-align: left;
   
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    max-width: 846px;
    width: 100%;
    margin-bottom: 20px
     

  }
  
  .card img {
    width: 846px;
    height: 254px;
  }
  
  .card2 {
    text-align: left;
   
    border: 0px solid #f9f9f9;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    max-width: 846px;
    width: 100%;
    margin-bottom: 15px
     

  }

  .card2 h5 {
    font-size: 0.1 rem;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 2px
    
  }
  
  .card2 img {
    width: 846px;
    height: 175px;
    flex-shrink: 0;
  }
  
  .card h2 {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-left: 25px;
    
  }
  
  .card p {
    font-size: 1rem;
    margin-top: 10px;
  }
  
  .card h2 {
    font-size: 1.5rem;
    margin-top: 10px;
  }
  
  .card p {
    font-size: 1rem;
    margin-top: 10px;
    margin-left: 25px;
  }
  
  



  /* Estilos para alinear una lista a la derecha */
.card6 {
    text-align: left;
    vertical-align: top;
    margin-left: 8%;
    margin-right: 4%;
    margin-top: 4%;
}

  .card6 h5 {
    font-size: 0.1 rem;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 2px
    
  }
  
  .card6 img {
    width: 317px;
    height: 483px;
    flex-shrink: 0;
  }