<div class="container">
  <div class="lista-izquierda">
    <mat-list>
      <mat-list-item id="InitDate">{{ articleInit?.fecha }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item id="Date">Today</mat-list-item>
      <mat-divider></mat-divider>
      <ng-container *ngFor="let article of articles; let i = index">
        <a href="{{ article?.enlace }}" target="_blank">
          <mat-list-item class="articlesx">
            {{ article.titulo }}
          </mat-list-item>
        </a>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
  </div>


  <div class="centered">
    <div class="tendencia-card">
      <h3>#InTrend</h3>
    </div>

    <div class="card" *ngIf="!loading">
      <a href="{{ articleInit?.enlace }}" target="_blank">
        <img [src]="articleInit?.imagen" alt="{{ articleInit?.titulo }}" />
        <h2>{{ articleInit?.titulo }} {{ articleInit?.fecha }}</h2>
        <p>{{ articleInit?.descripcion }}</p>
      </a>
    </div>

    <div class="card-container">
      <div class="card1" *ngFor="let article of articles.slice(1); let i = index">
        <a href="{{ article.enlace }}" target="_blank">
          <img [src]="article.imagen" alt="{{ article.titulo }}" />
          <h2>{{ article.titulo }} {{ article.fecha }}</h2>
          <p>{{ article.descripcion }}</p>
        </a>
      </div>


    </div>
    <div class="card2">
      <a href="https://www.agrisolucion.com/distribuidor/ver/greenhow/">
        <h5>Publicidad</h5>
        <img src="https://cdn.discordapp.com/attachments/1148057148522233868/1154791821323554917/imagen04.png?ex=6633a831&is=663256b1&hm=ea65c1fa3c1b807dceef331936aa2ebbd75478878dded9c6514da9edb782cc93&" alt="Título de la imagen" />
      </a>
    </div>


  </div>

  <div class="container02">
    <div class="card6">
      <a href="https://www.agrisolucion.com/distribuidor/ver/greenhow/">
        <h5>Advertising</h5>
        <img src="https://cdn.discordapp.com/attachments/1148057148522233868/1154841794379526204/imagen06.png?ex=6633d6bb&is=6632853b&hm=b3cf76daf391c1bc8e3deecb45c79a5511e7694fb7258a1e1eff0dee04b8bd04&" alt="Título de la imagen" />
      </a>
      <!-- Repite el bloque de publicidad según sea necesario -->
    </div>

  </div>

</div>
