.title{
    color: #000;
    font-family: Monda;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 578px;
    margin-left: 150px;

   
}

.top h1{
    float: left;
}
.top button{
    margin-left: 40%;
}
.first-block{
    margin: 0 auto;
}

.container img{
    max-width: 100%;
  height: auto;
}
.topleft{
  position: absolute;
  color: #FFF;
  font-family: Lemon; 
  font-weight: 400; 
  top: 8px;
  left: 10px;
  font-size: 18px;
  letter-spacing: 0.16px; 
}

.bottomleft{
    position: absolute;
    color: #FFF;
    font-family: Lemon; 
    font-weight: 400; 
    bottom: 8px;
    left: 10px;
    font-size: 18px;
    letter-spacing: 0.16px; 
}

.container{
    margin-left: 80px;
}

.image-text{
    width: 425px;
}

.card-container{
  
  
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    margin-left: 50px;

}
.card-container-2{
    display: flex;
    margin-left: 50px;
    gap: 50px;
    width: 105%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    overflow-x: auto;

}
.card-container-2::-webkit-scrollbar{
    width: 0;
}

.card-container-3{
    display: flex;
    gap: 50px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    overflow-x: auto;
}

.card-container-3::-webkit-scrollbar{
    width: 0;
}


.matBtn{
    width: 50%;
}



.box{
    transition: box-shadow 0.3s ease;
    cursor:pointer;
    position: relative;
}

.box:hover{
    box-shadow: 0 0.3rem 0.8rem rgba(0,0,0,0.3);
}

h2{
    color: #373737;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
}

mat-card-content p{
    color: #373737;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-container-3{
    align-items: center;
    justify-content: center;
}

li{
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.icons{
    margin-left: 920px;
    margin-top: 50px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    cursor:pointer;
}

.icon-right{
    background: #C2EFD4;
}

